include ../includes/mixins

doctype html
html(lang='en')

  // include the head
  include ../includes/head

  // include each section that makes up the home page
  body#page-top

    include ../includes/navbar

    include ../includes/headline
    
    include ../includes/projects

    include ../includes/about

    include ../includes/contact

    include ../includes/footer