// BEGIN ABOUT
section#about.page-section.bg-primary.text-white.mb-0
  .container
    // About Section Heading
    .text-center
      h2.page-section-heading.d-inline-block.text-white
        | Backend with a twist of Distributed Systems, Computer Graphics, UIUX, and Game Development.
    // Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        img.img-fluid(src='assets/img/gb_transparent.png', alt='gb')
      .divider-custom-line
    // About Section Content
    .row
      .col-lg-6.ml-auto
        p.pre-wrap.lead
          | Hey! So, I'm Griffin Beels. As of August, 2020, I'm a rising Senior at Brown University, concentrating in Computer Science for an Sc.B.
          | I love figuring out complex logic and figuring out "how could we make this great now, tomorrow, and a year later when someone else is working on this code?" problems. That's why I love architecting solutions for long-term, scalable systems.
      .col-lg-6.mr-auto
        p.pre-wrap.lead
          | Beyond problem solving, I think the key to a good site is having someone go "wow this looks great" while saying nothing about the usability -- because it's so good they don't notice. That's why UIUX is incredibly fun and rewarding to me, both in general front end development, but also in game development! Seeing your work is fun!
      .col-lg-12.ml-auto
        p.pre-wrap.lead
          | Doing all of this while working with a team, learning, and improving myself every day is the goal.
// END ABOUT