// BEGIN CONTACT
section#contact.page-section
  .container
    // Contact Section Heading
    .text-center
      h2.page-section-heading.text-secondary.d-inline-block.mb-0 Let's chat; you got this far!
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        img.img-fluid(src='assets/img/gb_transparent.png', alt='gb')
      .divider-custom-line
    // Contact Section Content
    .row.justify-content-center
      .col-lg-4
        .d-flex.flex-column.align-items-center
          .icon-contact.mb-3
            i.far.fa-envelope
          .text-muted Email
          a.lead.font-weight-bold(href='mailto:griffin_beels@brown.edu') griffin_beels@brown.edu
      .col-lg-4
        .d-flex.flex-column.align-items-center
          .icon-contact.mb-3
            i.fas.fa-file
          .text-muted Resume
          a.lead.font-weight-bold(href='docs/Griffin_Beels_Resume.pdf', target='_blank') Click here for my resume!
// END CONTACT