// BEGIN HEADLINE
header.masthead.bg-primary.text-white.text-center
  .container.d-flex.align-items-center.flex-column
    // Masthead Avatar Image
    img.masthead-avatar.mb-5(src='assets/img/avataaars.svg', alt='')
    // Masthead Heading
    h1.masthead-heading.mb-0 Griffin Beels
    // Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        img.img-fluid(src='assets/img/gb_transparent.png', alt='gb')
      .divider-custom-line
    // Masthead Subheading
    p.pre-wrap.masthead-subheading.font-weight-light.mb-0 Software Engineer + Esports Leader + Challenge Seeker
// END HEADLINE