// BEGIN HEAD
head
  // General metadata
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title whoami >> gbeels.txt
  meta(name='description', content='Griffin Beels is a backend software engineer, esports leader, and challenge seeker. Got an interesting opportunity? I want to hear it -- contact me.')
  meta(name='author', content='Griffin Beels')

  // Open Graph metadata
  meta(property='og:url', content='https://www.gbeels.com')
  meta(property='og:type', content='website')
  meta(property='og:title', content='whoami >> gbeels.txt')
  meta(property='og:description', content='Griffin Beels is a backend software engineer, esports leader, and challenge seeker. Got an interesting opportunity? I want to hear it -- contact me.')
  meta(property='og:image', content='http://www.gbeels.com/assets/img/logo_large.png')
  meta(property='fb:app_id', content='1571290729696892')

  // Twitter metadata
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@g0mega')
  meta(name='twitter:title', content='whoami >> gbeels.txt')
  meta(name='twitter:creator', content='g0mega')
  meta(name='twitter:description', content='Griffin Beels == backend software engineer, esports leader, challenge seeker.')
  meta(name='twitter:image', content='http://www.gbeels.com/assets/img/logo_large.png')

  // Font Awesome icons (free version)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js', crossorigin='anonymous')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css', rel='stylesheet')
  // Fonts CSS
  link(rel='stylesheet', href='css/heading.css')
  link(rel='stylesheet', href='css/body.css')
// END HEAD