include ../includes/mixins
// BEGIN PROJECTS
section#portfolio.page-section.portfolio.bg-secondary
  .container
    // Projects Section Heading
    .text-center
      h2.page-section-heading.text-secondary.mb-0.d-inline-block Projects
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        img.img-fluid(src='assets/img/gb_transparent.png', alt='gb')
      .divider-custom-line
    // Project Grid Items
    .row.justify-content-center
      // Project Items
      +projectIcon("amazon")
      +projectIcon("massdigi")
      +projectIcon("graphics_hta")
      +projectIcon("best")
      +projectIcon("computer_vision")
      +projectIcon("raft")
      +projectIcon("ray")
      +projectIcon("twitchmatch")
      +projectIcon("shell")

+projectPopup("Amazon SDE Internship", "amazon", "Amazon", "Seattle, WA", 
["Worked on Digital Commerce Subscription Team.",
"Refactored monolithic classes and JUnit testing suite for long-term maintainability and extensibility, impacting over 30,000 lines of code.",
"Reduced team's operational overhead by 99% by delivering a library that uses an internal plugin framework to execute client defined runtime logic."])

+projectPopup("MassDiGI Software Engineer Internship", "massdigi", "MassDiGI", "Worcester, MA", 
["Led 6-person team as producer and software engineer for full mobile pre-production and production cycles for Save the Flame! (iOS / Android).",
"Optimized Unity object procedural generation in C# through pooling and customizable cumulative probability distributions.",
"Minimized overhead for designers through Unity inspector integration."],
["https://apps.apple.com/us/app/save-the-flame/id1467977433", "Download Save the Flame for iOS",
"https://play.google.com/store/apps/details?id=com.MassDiGI.FireFliers&hl=en_US", "Download Save the Flame for Android"])

+projectPopup("Computer Graphics HTA", "graphics_hta", "Computer Graphics CS1230 @ Brown", "Providence, RI.",
["Managed staff of 7 UTAs for Introduction to Computer Graphics with Co-HTA.",
"Designed digital learning solution for 100+ students, managed course logistics, held office and lab hours, and maintained course website."],
["https://cs.brown.edu/courses/cs123/", "Check out the CS123 site"])

+projectPopup("Brown Esports President", "best", "Brown Esports", "Providence, RI.",
["Increased membership from 100 members to 1000 members, leading 20-person executive board.",
"Secured $5000 of funding through University Finance Board for projects and equipment.",
"Constructed front-end for Brown Esports website (brownesports.org)."],
["https://brownesports.org/", "Check out the Brown Esports site"])

+projectPopup("Emotion Based Snapchat Filter", "computer_vision", "Computer Vision CS1430 @ Brown", "Providence, RI",
["Trained Convolutional Neural Net to detect emotion, used to dynamically change a Snapchat filter in real time.",
"Created a weighted voting system for emotion detection, reducing false-positives by 70%."],
["https://github.com/griffinbeels/emotion-based-filter", "Check out the Github repo",
"https://github.com/griffinbeels/emotion-based-filter/blob/master/report.pdf", "Read the academic paper"])

+projectPopup("Raft Consensus Project", "raft", "Distributed Systems CS1380 @ Brown", "Providence, RI",
["Collaborated with teammate to create fault-tolerant distributed consensus protocol according to Raft paper, which enables scalable server architecture to agree on values."],
["https://raft.github.io/", "Learn about Raft"])

+projectPopup("Ray Tracer in C++", "ray", "Computer Graphics CS1230 @ Brown", "Providence, RI",
["Implemented raytracing using OpenGL for scenes composed of cubes, spheres, cones, and cylinders."],
["https://www.youtube.com/watch?v=l4HQ1sK-IKI&feature=emb_title", "Check out my Ray Tracer demo"])

+projectPopup("Twitch Match", "twitchmatch", "Software Engineering CS0320 @ Brown", "Providence, RI",
["Designed responsive frontend experience using Bootstrap and the Twitch API, allowing Twitch streamers to optimize growth using user statistics."],
["http://twitchmatch.herokuapp.com/", "Try out TwitchMatch"])

+projectPopup("Shell", "shell", "Computer Systems CS0330 @ Brown", "Providence, RI",
["Implemented a Linux shell clone with foreground / background job control, signal handling, and command processing."])

// END PROJECTS